<div style="margin-top:10px">
    <table class="table table-sm">
        <thead>
            <tr>
                <th *ngFor="let day of numberOfDays">Day {{day}}</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr>
                <td *ngFor="let day of numberOfDays">
                    <span class="bi bi-plus-circle-fill btn text-primary" id="activityModalToggleBtn"
                        (click)="setSelectedDay(day)"></span>
                </td>
            </tr>
            <tr>
                <td *ngFor="let day of numberOfDays">
                        <div *ngFor="let activity of activities">
                            <div *ngIf="activity.ScheduleDay==day">
                                <div class="alert alert-success" role="alert">
                                    <div><b>Name</b> {{activity.Name}}</div>
                                    <div><b>Duration</b> {{activity.Duration}} </div>
                                </div>
                            </div>                            
                        </div>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="modal fade" id="activityModal" tabindex="-1" aria-labelledby="activityModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Create new activity</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div>
                        <form>
                            <input class="form-control mb-3" type="text" disabled
                                placeholder="Week {{selectedWeek}} Day {{selectedDay}}">
                            <div class="row mb-3">
                                <label for="activityName" class="col-4 col-form-label">ActivityName</label>
                                <div class="col-4"></div>
                                <div class="col-sm-4">
                                    <input type="text" class="col-2 form-control" id="activityName" name="activityName"
                                        [(ngModel)]="activity.Name" required>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="duration" class="col-md-4 col-form-label">Duration</label>
                                <div class="col-4"></div>
                                <div class="col-sm-4">
                                    <input type="time" class="col-2 form-control" id="duration" name="duration"
                                        [(ngModel)]="activity.Duration" required>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary"
                                (click)="createActivity(activity)">CreateActivity</button>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>