<div style="margin-top:150px">
    <div class="row container-fluid">
        <div class="col-md-4 mb-2">
            <h4 class="d-flex justify-content-center"> Workout Editor</h4>

            <div *ngFor="let index of weeks">
                <div class="card w-30 border-dark border-3 mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Week {{index}}</h5>
                        <app-activity (click)="setSelectedWeek(index)"
                            (setselectedDay)="setSelectedDay($event)"></app-activity>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-2">
            <h4 class="d-flex justify-content-center"> Nutrition Plan</h4>
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                         aria-expanded="true" aria-controls="collapseOne">
                           
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show " data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="card" style="width: 18rem;">
                                <!-- <img src="..." class="card-img-top" alt="..."> -->
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk of the
                                        card's content.</p>
                                    <a href="#" class="btn btn-primary">Add To Diet</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
           </div>

        <div class="col-md-4">

        </div>

    </div>
</div>