<div style="margin-top:150px">
    <div class="row container-fluid">
        <div class="col-md-4 mb-2">
            <h4 class="d-flex justify-content-center"> Workout Editor</h4>

            <div *ngFor="let index of weeks">
                <div class="card w-30 border-dark border-3 mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Week {{index}}</h5>
                        <app-activity (click)="setSelectedWeek(index)"
                            (setselectedDay)="setSelectedDay($event)"></app-activity>
                    </div>
                </div>
            </div>
        </div>
          
        <div class="col-md-8 mb-2">
            <app-nutrition-tracking></app-nutrition-tracking>
        </div>
           

    </div>
</div>